#MySQL客户端配置
[client]
#password	= your_password
port		= 3306			#客户端链接端口
#socket		= /tmp/mysql.sock	#socket文件路径
default-character-set=utf8

# MySQL服务器配置
[mysqld]
port		= 3306			#客户端链接端口
#socket		= /tmp/mysql.sock	#socket文件路径
skip-external-locking			#避免外部锁定
key_buffer_size = 16K			#执行索引的缓冲区大小
max_allowed_packet = 1M			#服务器发送和接受的最大包长度
table_open_cache = 4			#允许缓存已打开表的份数
sort_buffer_size = 64K			#执行排序使用的缓冲大小
read_buffer_size = 256K			#读查询操作使用的缓冲区大小
read_rnd_buffer_size = 256K		#随机读缓冲区大小
net_buffer_length = 2K			#通信时缓存数据的大小
thread_stack = 128K			#线程使用的堆大小

character-set-server=utf8
collation-server=utf8_general_ci

#skip-networking			#关闭通过TCP/IP连接MySQL
server-id = 1				#表示本机序号为1,也就master的意思

#log-bin=mysql-bin			#复制二进制日志

#binlog_format=mixed			#二进制日志格式=混合

#binlog_direct_non_transactional_updates=TRUE	#非事务直接写binlog 

#如果使用InnoDB表，请对以下内容取消注释
#innodb_data_home_dir = /usr/local/mysql/data	#InnoDB表空间文件目录
innodb_data_file_path = ibdata1:10M:autoextend	#InnoDB表空间文件路径
#innodb_log_group_home_dir = /usr/local/mysql/data #InnoDB的日志文件目录
innodb_buffer_pool_size = 16M			#InnoDB缓冲池大小
innodb_additional_mem_pool_size = 2M	#InnoDB附加的内存池大小
innodb_log_file_size = 5M			#日志组中每个日志文件的大小
innodb_log_buffer_size = 8M			#日志文件所用的buffer大小
innodb_flush_log_at_trx_commit = 1		#每隔几秒日志文件刷新到磁盘
innodb_lock_wait_timeout = 50			#事务在被回滚之前等待锁定的超时秒数

#mysqldump备份数据库工具配置
[mysqldump]
quick						#不将内存中的整个结果写入磁盘之前缓存
max_allowed_packet = 16M			#服务器发送和接受的最大包长度

#mysql是针对客户端操作相关的配置
[mysql]
no-auto-rehash			#命令不自动补全
#auto-rehash			#命令自动补全
#safe-updates			#仅允许使用带有键值的UPDATEs和DELETEs操作，也就是新手模式

#MyISAM表维护程序配置
[myisamchk]
key_buffer_size = 8M	#关键词缓冲大小, 一般用来缓冲MyISAM表的索引块
sort_buffer_size = 8M	#排序缓冲大小

#mysql数据备份程序配置
[mysqlhotcopy]
interactive-timeout